<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Wiki セットアップ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body class="base-body">
<header class="base-header">
    <div class="base-header-left">
        <div class="module-sp-menu-button script-toggle-base-menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="module-logo"><a th:href="@{/}">Simple Wiki</a></div>
        <div class="module-search"></div>
    </div>
    <div class="base-header-right">
    </div>
</header>
<main class="base-main bg-black-4"><div >
    <div class="module-login">
        <form th:action="@{/complete}" method="post">
            <h1>確認画面</h1>
            <div class="module-alert" th:if="${error}" th:text="${errorMessage}"></div>
            <div style="text-align:left">
                <p>以下の内容でデータベースを構築しアプリデータをビルドします。</p>
                <p style="border-bottom: 1px solid #ccc;">mysqlユーザー名：<span th:text="${form.mysqlUserName}"></span></p>
                <p style="border-bottom: 1px solid #ccc;">mysql パスワード:<span th:text="${form.mysqlPassword}"></span></p>
                <p style="border-bottom: 1px solid #ccc;">mysql テーブル名:<span th:text="${form.mysqlTable}"></span></p>
                <p style="border-bottom: 1px solid #ccc;">mysql ホスト:<span th:text="${form.mysqlHost}"></span></p>
                <p style="border-bottom: 1px solid #ccc;">mysql ポート:<span th:text="${form.mysqlPort}"></span></p>
            </div>
            <input name="mysqlUserName" type="hidden" class="module-input-text" th:value="${form.mysqlUserName}" />
            <input name="mysqlPassword" type="hidden" class="module-input-text" th:value="${form.mysqlPassword}" />
            <input name="mysqlTable" type="hidden" class="module-input-text" th:value="${form.mysqlTable}" />
            <input name="mysqlHost" type="hidden" class="module-input-text" th:value="${form.mysqlHost}" />
            <input name="mysqlPort" type="hidden" class="module-input-text" th:value="${form.mysqlPort}" />
            <button type="submit" class="module-submit-button">
                実行
            </button>
        </form>
    </div>
</div></main>
<footer class="base-footer">
    <small class="module-copy">Simple Wiki</small>
</footer>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script th:src="@{/js/script_min.js}"></script>
</body>
</html>
